<% layout("/layouts/uboilerplate.ejs") %>
<%-include("../includes/temp.ejs") %>
<%-include("../includes/moption.ejs") %>
<body>
    <!-- <form method="GET" action="/listings/new">
        <button>create </button>
    </form> -->
<div class="flexc">
    <% for(let listing of allListings) { %>
    <section class="three">
        <a href="/listings/<%=listing._id %>">
        <div class="article">
           
            <div class="imgss"><img src="<%= listing.image %>" alt=""></div>

            <div class="dec">
                <h4> <%= listing.title %>
                </h4>
                <i class="fa-solid fa-ellipsis"></i>


            </div>
            <div class="infos">
                <p><%= listing.desc %></p>
            </div>

            <div class="info">
                <div class="cont">
                    <img src="<%= listing.aimg %>" alt="">
                    <p><%= listing.aname %></p>

                </div>
                <div class="share">

                    <i class="fa-solid fa-eye"></i>
                    <p><%= listing.views %></p>
                    <i class="fa-solid fa-share-nodes"></i>


                </div>
            </div>
        </div>
        </a>
    </section>
    <% } %>
</div>  

    <div class="addinfo">
        <div class="contss">
            <i class="fa-solid fa-location-dot"></i>
            <p>Ahmedabad, India</p>
        </div>
        <div class="contss">
            <span class="hello"><i  class="fa-solid fa-circle-exclamation" ></i></span>
            <pre class="cyan">Your location will help us
serve better and extend
a personalised experience.</pre>
        </div>

    


        <div class="recomm">
            <p class="pera"> RECOMMENDED GROUPS</p>
             <div class="conn">
                 <img src="https://images.unsplash.com/profile-1461024468026-751de59ac1ac?bg=fff&crop=faces&dpr=1&h=150&w=150&auto=format&fit=crop&q=60&ixlib=rb-4.0.3" alt="">
                     <p>Leiuse</p>
                 
                 <button>follow</button>
             </div>
             <div class="conn">
                 <img src="https://images.unsplash.com/profile-1451361261642-cd637e6564d0?bg=fff&crop=faces&dpr=1&h=150&w=150&auto=format&fit=crop&q=60&ixlib=rb-4.0.3" alt="">
                 <p>Activism</p>
                 <button>follow</button>
             </div>
             <div class="conn">
                 <img src="https://images.unsplash.com/profile-1587665262055-9b5d1bac9d76image?bg=fff&crop=faces&dpr=1&h=150&w=150&auto=format&fit=crop&q=60&ixlib=rb-4.0.3" alt="">
                 <p>Mba</p>
                 <button>follow</button>
             </div>
             <div class="conn">
                 <img src="https://images.unsplash.com/profile-1566268728173-4ffb37c38a1eimage?bg=fff&crop=faces&dpr=1&h=150&w=150&auto=format&fit=crop&q=60&ixlib=rb-4.0.3" alt="">
                 <p>Philosophy</p>
                 <button>follow</button>
             </div>
         </div>

    </div>

   
      <!--   <ul>
    <% for(let listing of allListings) { %>
<li> <a href="/listings/<%=listing._id %>"><%= listing.title %></a> </li>

   <% } %>
</ul> -->

<%-include("../includes/footer.ejs") %>
</body>

</html>